body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.marker {
  background-image: url("./pin.png");
  background-size: cover;
  width: 25px;
  height: 40.5px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px !important;
  width: 100%;
}
.mapboxgl-popup h5 {
  font-size: 14px;
}
.mapboxgl-popup .mapboxgl-popup-close-button {
  outline: none;
}

/* searchbox start */
.main-search-form {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1001;
}
.main-search-form .form-control {
  padding-left: 35px;
}
.main-search-form .btn {
  position: absolute;
  top: 0;
  left: 0;
}
/* searchbox end */

/* admin-panel start */
.admin-panel {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  transform: translateX(calc(-100% + 5px));
  transition: transform 0.3s;
}
.admin-panel.active {
  transform: translateX(0);
}
.admin-panel .btn-collapse {
  transition: transform 0.3s;
}
.admin-panel:not(.active) .btn-collapse {
  transform: translateX(40px);
}

/* admin-panel end */
